// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request {

  border-bottom: 1px solid #D9D9D9;
  width: 100%;
  color: #25364D;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .request-surfer-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    .request-surfer-info-left {
      display: flex;
      min-width: 300px;
      margin-top: 20px;
    }

    .request-surfer-info-right {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      flex-direction: column;

      p {
        padding-top: 0px;
        padding: 2px;
        color: black;
        font-size: 100%;
      }

      .request-status {
        margin-bottom: 30px;
        margin-top: 20px;
        font-size: 110%;
      }
    }


    .request-surfer-photo {
      margin-right: 20px;
      position: relative;
      height: 68px;
      width: 68px;
      overflow: hidden;
      display: flex;
      align-items: center;
      border-radius: 700px;
      justify-content: center;

      img {
        background-position: center;
        position: center;
        height: 110px;
        width: 110px;
        object-fit: cover;
        border-radius: 700px;
      }
    }

    .request-date {
      text-align: right;
      padding: 10px;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
    }

    .request-surfer-text {
      height: 30px;

      .request-surfer-name {
        font-weight: bold;
        font-size: 130%;
      }

      .request-surfer-location {
        font-style: italic;
        font-size: 90%;
      }
    }

  }


  .request-ul {
    margin-left: 90px;
    margin-top: -20px;

    .request-start-date {
      font-weight: bold;
      font-size: 115%;
      margin-bottom: 10px;
    }

    .request-end-date {
      font-size: 100%;
    }

  }
}

.request-success {
  margin-left: 50px;
  width: 400px;
  color: green;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.0;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.user-requests {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 10px;
  height: 10%;
  width: 96%;
  background-color: white;
  max-width: 1100px;
}

.user-requests-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  background-color: white;
}

.user-requests-bottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 10px;

  .user-requests-each {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .user-requests-each > :last-child {
    border-top: 1px solid #D9D9D9;

  }

  ul {
    display: flex;
    flex-direction: column;
  }
}

.user-request-link {
  border-radius: 3px;
  padding: 8px 8px;
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 1px solid #287fb8;
  background-color: #287fb8;
  min-width: 120px;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  &:hover {
    background-color: #2371a3;
    border: 1px solid #2371a3;
  }
}

.user-request-link-approve {
  border-radius: 3px;
  padding: 8px 8px;
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 1px solid green;
  background-color: green;
  min-width: 120px;
  max-width: 120px;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  &:hover {
    background-color: #107000;
    border: 1px solid #107000;
  }

}

.user-request-link-deny {
  border: 1px solid #ef3f13;
  background-color: #ef3f13;
  border-radius: 3px;
  padding: 8px 8px;
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  min-width: 120px;
  max-width: 120px;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: #d84100;
    border: 1px solid #d84100;
  }
}

.request-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-request {
  width: 90%;
  font-size: 130%;
  font-weight: bold;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.request-form {
  position: absolute;
  z-index: 6;
  background-color: white;
  -webkit-box-shadow: 3px 3px 22px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 22px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 22px -2px rgba(0,0,0,0.75);
  display: flex;
  font-size: 16px;
  line-height: 1.2;
  color: #34495e;
  right: 38px;
  top: 92px;
  font-weight: bold;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  text-align: left;
  padding: 20px;

  .request-form-title {
    height: 10px;
    width: 100%;
  }

  .request-submit {
    background-color: #287fb8;
    min-width: 100px;
    color: white;
    border-radius: 3px;
    padding: 8px 12px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #287fb8;
    width: 50%;

    &:hover {
      background-color: #2371a3;
      border: 1px solid #2371a3;
    }
  }

  .request-cancel {
    display: inline-block;
    padding: 8px 12px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #FF0000;
    min-width: 100px;
    color: white;
    border-radius: 3px;
    border: 1px solid #FF0000;
    width: 50%;
    max-height: 40px;

    &:hover {
      background-color: #ad0000;
      border: 1px solid #ad0000;
    }
  }

  input {
    padding: 12px 8px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
    margin: 10px;
  }

  textarea {
    padding: 12px 8px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
  }
}


.request-errors {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
    text-align: center;
    background-color: #F0CCD0;
    color: #6E4348;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 80%;
    font-weight: bolder;
    line-height: 2;
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .request-form {
    transform: scale(0.7);
    top: 294px;
  }

  .request-surfer-info-right {

  }

  .request-surfer-info-left {
    min-width: 0px !important;
  }

  .request-success {
    position: absolute;
    top: 434px;
  }
}
