// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review {

  border-bottom: 1px solid #D9D9D9;
  width: 95%;
  color: #25364D;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .review-author-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;

    .review-author-info-left {
      display: flex;
      min-width: 300px;
    }

    .review-author-info-right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      margin-top: -40px;

      p {
        padding-top: 0px;
        padding: 2px;
        color: #B5BDC8;
        font-weight: lighter;
        font-size: 90%;
      }
    }


    .review-author-photo {
      margin-right: 20px;
      height: 100%;

      img {
        border-radius: 50px;
        width: 68px;
        height: 68px;
      }
    }

    .review-date {
      text-align: right;
      padding: 10px;
      display: flex;
      flex-direction: row;
    }

    .review-author-text {
      height: 30px;

      .review-author-name {
        font-weight: bold;
        font-size: 130%;
      }

      .review-author-location {
        font-style: italic;
        font-size: 90%;
      }
    }

  }


  .review-ul {
    margin-left: 90px;
    margin-top: -20px;

    .review-title {
      font-weight: bold;
      font-size: 115%;
      margin-bottom: 10px;
    }

    .review-body {
      font-size: 100%;
    }

    .user-review-links {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      box-sizing: border-box;

      .user-review-edit-link {
        margin-right: 10px;
        border-radius: 3px;
        padding: 4px 4px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        text-decoration: none;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        border: 1px solid #EC5E1F;
        background-color: #EC5E1F;
        min-width: 120px;
        color: white;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        box-sizing: border-box;

        &:hover {
          background-color: #cc4b1c;
          border: 1px solid #cc4b1c;
        }
      }

      .user-review-delete-link {
        border-radius: 3px;
        padding: 4px 4px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        text-decoration: none;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        border: 1px solid #ef3f13;
        background-color: #ef3f13;
        min-width: 120px;
        color: white;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        box-sizing: border-box;

        &:hover {
          background-color: #d84100;
          border: 1px solid #d84100;
        }
      }
    }
  }
}

.user-reviews {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 10px;
  height: 10%;
  width: 96%;
  background-color: white;
}

.user-reviews-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 40px;
  width: 100%;
  background-color: white;
}

.user-reviews-bottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 10px;

  .user-reviews-each {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .user-reviews-each > :last-child {
    border-top: 1px solid #D9D9D9;

  }
}

.user-review {
  width: 90%;
  font-size: 130%;
  font-weight: bold;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-right: 120px;
}

.review-form {
  display: flex;
  font-size: 20px;
  line-height: 1.2;
  color: #34495e;
  margin: 0 0 0.75em 0;
  font-weight: bold;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-right: 0px;
  margin-top: -10px;
  text-align: left;

  textarea {
    resize: vertical;
  }

  .review-form-title {
    height: 10px;
    width: 100%;
  }

  .review-submit {
    background-color: #287fb8;
    min-width: 160px;
    color: white;
    border-radius: 3px;
    padding: 8px 12px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #287fb8;
    width: 50%;

    &:hover {
      background-color: #2371a3;
      border: 1px solid #2371a3;
    }
  }

  .review-cancel {
    display: inline-block;
    padding: 8px 12px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #FF0000;
    min-width: 160px;
    color: white;
    border-radius: 3px;
    border: 1px solid #FF0000;
    width: 50%;
    max-height: 40px;

    &:hover {
      background-color: #ad0000;
      border: 1px solid #ad0000;
    }
  }

  input {
    padding: 12px 8px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
  }

  textarea {
    padding: 12px 8px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
  }
}


.user-review-link {
  border-radius: 3px;
  padding: 8px 8px;
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 1px solid #287fb8;
  background-color: #287fb8;
  min-width: 120px;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  &:hover {
    background-color: #2371a3;
    border: 1px solid #2371a3;
  }
}
