// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-session-links {
  display: flex;

  > * {
    border-radius: 3px;
    padding: 8px 12px;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #287fb8;
  }

  :first-child {
    background-color: #287fb8;
    min-width: 160px;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    &:hover {
      background-color: #2371a3;
      border: 1px solid #2371a3;
    }
  }

  :nth-child(2) {
    transition: background-color 0.3s ease, border-color 0.3s ease;
    min-width: 100px;
    color: #287fb8;
    &:hover {
      background-color: #f2f2f2;
    }
  }

}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.session-errors li{
  background-color: #F0CCD0;
  color: #6E4348;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 80%;
  font-weight: bolder;
  line-height: 2;
}

.login-form-container {
  background-color: white;
  z-index: 3;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 8px;
  width: 500px;
  min-height: 420px;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;

  input::-webkit-input-placeholder {
    text-align: left;
  }
  input:-moz-placeholder {
    text-align: left;
  }
  input::-moz-placeholder {
    text-align: left;
  }
  input:-ms-input-placeholder {
    text-align: left;
  }

  .header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    color: #34495e;
    margin: 0 0 0.75em 0;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 28px 20px 28px 40px;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    text-align: left;

    div {
      color: #afb7c3;
      font-size: 150%;
      margin-right: 20px;

      &:hover {
        color: #909CAE;
        cursor: pointer;
      }
    }
  }

  input {
    padding: 12px 8px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
  }

  .submit-button {
    background-color: #287fb8;
    min-width: 160px;
    color: white;
    border-radius: 3px;
    padding: 8px 12px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #287fb8;
    width: 100%;

    &:hover {
      background-color: #2371a3;
      border: 1px solid #2371a3;
    }
  }

  .firstname-lastname {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #8c8c8c;
    font-family: sans-serif;
    font-weight: lighter;

    :first-child {
      margin-right: 10px;
    }
  }

  .username-password {
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    color: #8c8c8c;
    font-family: sans-serif;
    font-weight: lighter;

    input {
      margin-bottom: 10px;
    }
  }

  .login-form {
    padding: 20px;

    .login-input {
      box-sizing: border-box;
      width: 100%;
    }

    .demo-login {

      button {
        padding: 8px 12px;
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
        text-decoration: none;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        background-color: #FF0000;
        min-width: 160px;
        color: white;
        border-radius: 3px;
        border: 1px solid #FF0000;
        width: 100%;

        &:hover {
          background-color: #ad0000;
          border: 1px solid #ad0000;
        }
      }

      p {
        padding: 15px 12px;
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: bold;
        color: #7C8997;
      }
    }
  }

  .login-input-label {
    width: 100%;
  }

  .login-alternate > *{
    padding-top: 45px;
    padding-bottom: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    color: #7C8997;
  }

  .login-alternate button {
    min-width: 100px;
    color: #287fb8;
    border-radius: 3px;
    padding: 8px 50px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #287fb8;

    &:hover {
      background-color: #F2F2F2;
    }
  }
}


.star-select select {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
