// Place all the styles related to the Stars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stars-index {
  background-color: #F1EFEA;
  min-height: 900px;
  h2 {
    text-align: center;
    font-size: 250%;
    color: #35485E;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 25px;
    padding-top: 70px;
  }
}

.stars {
  position: relative;
  display: flex;
  width: 90%;
  max-width: 1049px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  box-sizing: border-box;
}

.star {
  position: relative;
  z-index: 3;
  height: 175px;
  width: 175px;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  color: white;
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-size: 140%;
  text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
  line-height:175px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.star-index-item {
  pointer-events: none;
}

.star-img {
  z-index: -1;
  position: absolute;
  height: 175px;
  width: 175px;
  background-size: cover;
  background-position: center;
  pointer-events: auto;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

  &:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.star-show {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #F1EFEA;
  width: 100vw;
  box-sizing: border-box;
  min-height: 850px;
}

.star-photo-name {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 161px;
  width: 100%;
  background-color: white;
  margin: 0 auto;

  img {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
  }

  .star-name {
    text-align: left;
    position: absolute;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 400%;
    color: white;
    padding: 42px 20px;
    letter-spacing: 10px;
    font-weight: lighter;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -420px;
    margin-top: 60px;

    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }
}

.star-bottom-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  max-height: 1050px;
  box-sizing: border-box;
  margin-top: 70px;

  .star-info {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0px;
    height: 80%;
    width: 40%;
    min-height: 500px;
    max-width: 1100px;
    background-color: white;
    margin-bottom: 140px;
    border-bottom: 2px solid rgba(0,0,0,0.15);
  }

  .star-info-title {
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-bottom: 1px solid #E6E6E6;

  }

  .star-planets {
    padding-top: 10px;
    width: 100%;
    font-size: 135%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  }

  .star-hosts {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
    height: 90%;
    width: 60%;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 90px;
    border-bottom: 2px solid rgba(0,0,0,0.15);
  }

  .star-host {
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-bottom: 1px solid #E6E6E6;
  }

  .star-non-host {
    margin-top: -25px;
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-bottom: 1px solid #E6E6E6;
  }

  .star-host-section {
    margin-top: 20px;
    width: 100%;
    font-size: 150%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-bottom: 1px solid #E6E6E6;
  }

  .users {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .user {
    font-size: 110%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100px;
    width: 100px;
    word-wrap: break-word;
    margin: 10px;
    margin-bottom: 65px;
  }

  .user-index-img {
    margin-left: 15px;
    position: relative;
    height: 80px;
    width: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 700px;
    justify-content: center;

    img {
      background-position: center;
      position: center;
      height: 130px;
      width: 130px;
      object-fit: cover;
      border-radius: 700px;
      transition: all 0.3s;

      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;

      image-rendering: -moz-crisp-edges;         /* Firefox */
      image-rendering:   -o-crisp-edges;         /* Opera */
      image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

      &:hover {
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        image-rendering: -moz-crisp-edges;         /* Firefox */
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
      }
    }
  }



  .user-index-item {
    width: 110%;

    &:hover {
      cursor: pointer;
    }
  }

  .user-index-item-desc {
    font-size: 90%;
    font-weight: bold;
    width: 120%;
    &:hover {
      text-decoration: underline;
    }
  }

  .user-index-item-username {
    margin-top: -5px;
    font-size: 70%;
    font-style: italic;
    &:hover {
      text-decoration: underline;
    }
  }
}

.map-container {
  width: 100%;
  height: 82%;
  padding-left: 20px;
  padding-right: 20px;
}

.map-div {
  width: 100%;
  height: 100%;

  span {
    font-size: 135%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

@media only screen and (max-width: 785px) {

  #map {
    height: 50% !important;
    width: 50% !important;
    min-height: 330px !important;
    min-width: 230px !important;
  }

  .map-div {
    height: 50%;
    width: 50%;
    padding-top: -200px !important;
  }

  .star-bottom-side {
    flex-direction: column;
    align-items: center;
    height: 100% !important;
    max-height: none !important;
  }

  .star-info {
    margin-top: 20px !important;
    width: 80% !important;
    height: 40% !important;
    margin-bottom: 20px !important;
    box-sizing: border-box;
    min-height: 300px !important;
  }

  .star-hosts {
    display: block !important;
  }

  .star-bottom-side .users {
    height: 100%;
  }

}

@media only screen and (max-width: 800px) {
  .star-photo-name {
    max-height: 120px !important;
    word-wrap: break-word;
    white-space: nowrap;
    font-size: 53%;
  }
}

@media only screen and (max-width: 420px) {
  #map {
    height: 30% !important;
    width: 30% !important;
    min-height: 200px !important;
    min-width: 200px !important;
  }

  .map-div {
    height: 30%;
    width: 30%;
    padding-top: -200px !important;
  }

  .star-bottom-side {
    flex-direction: column;
    align-items: center;
    height: 100% !important;
    max-height: none !important;
  }

  .star-info {
    margin-top: 20px !important;
    width: 80% !important;
    height: 40% !important;
    margin-bottom: 20px !important;
    box-sizing: border-box;
    min-height: 300px !important;
  }

  .star-hosts {
    display: block !important;
  }

  .star-bottom-side .users {
    height: 100%;
  }

  .star-photo-name {
    max-height: 80px !important;
    word-wrap: break-word;
    white-space: nowrap;
    font-size: 133% !important;
  }
}
