// Place all the styles related to the Stars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stars-index {
  background-color: #F1EFEA;
  min-height: 430px;
  h2 {
    text-align: center;
    font-size: 250%;
    color: #35485E;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 25px;
  }
}

.stars {
  position: relative;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  box-sizing: border-box;
}

.star {
  z-index: 3;
  border: 1px solid black;
  height: 175px;
  width: 175px;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  color: white;
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-size: 140%;
  text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
  line-height:175px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.star-img {
  z-index: -1;
  position: absolute;
  height: 175px;
  width: 175px;
}

.star-show {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #F1EFEA;
  width: 100vw;
  box-sizing: border-box;
}

.star-photo-name {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 167px;
  width: 100%;
  background-color: white;
  margin: 0 auto;

  img {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .star-name {
    text-align: left;
    position: absolute;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 400%;
    color: white;
    padding: 42px 20px;
    letter-spacing: 10px;
    font-weight: lighter;
    margin: 0 auto;
  }
}

.star-bottom-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 600px;
  margin-top: 10px;
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;

  .star-info {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0px;
    height: 100%;
    width: 40%;
    max-width: 1100px;
    background-color: white;

  }

  .star-info-title {
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-bottom: 1px solid #E6E6E6;

  }

  .star-planets {
    padding-top: 10px;
    width: 100%;
    font-size: 135%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  }

  .star-hosts {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
    height: 100%;
    width: 60%;
    background-color: white;
  }

  .star-host {
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-bottom: 1px solid #E6E6E6;
  }

  .users {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .user {
    font-size: 130%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100px;
    margin: 10px;
  }

  .user-img {
    // position: relative;
    // height: 100%;
    // width: 100%;
    // margin: 0 auto;
  }
}

.map-container {
  width: 100%;
  height: 82%;
  padding-left: 20px;
  padding-right: 20px;
}

.map-div {
  width: 100%;
  height: 100%;

  span {
    font-size: 135%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}
