// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #F1EFEA;
  width: 100vw;
  box-sizing: border-box;
  min-height: 780px;
  height: 100%;
  margin-bottom: 75px;
}

.user-show-img {
  height: 225px;
  width: 225px;
  border-radius: 300px;
}

.user-photo-username {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  height: 320px;
  width: 300px;
  background-color: white;
  margin-right: 10px;
  margin-top: 10px;

  div {
    background-color: gray;
    border-radius: 300px;
    height: 260px;
    width: 260px;
    margin: 0 auto;
  }

  .user-name {
    text-align: center;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 200%;
    color: #25364D;
  }
  .user-username {
    text-align: center;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 140%;
    color: #25364D;
    font-style: italic;
  }
}

.user-right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-top: 10px;

  .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    height: 100px;
    width: 96%;
    max-width: 1100px;
    background-color: white;
    margin-bottom: 20px;
  }

  .user-hosting {
    width: 96%;
    margin-right: 20px;
    font-size: 200%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .user-about {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin-top: -10px;
    height: 100%;
    width: 96%;
    background-color: white;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 100%;

    h2 {
      width: 240px;
      font-size: 130%;
      font-weight: bold;
      font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      padding-right: 10px;
    }
  }

  .user-reviews {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10%;
    width: 96%;
    background-color: white;
  }

  .user-reviews-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    background-color: white;
  }

  .user-reviews-bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 10px;

    .user-reviews-each {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
    }

    .user-reviews-each > :last-child {
      border-top: 1px solid #D9D9D9;

    }

    ul {
      display: flex;
      flex-direction: column;
    }
  }

  .user-review {
    width: 90%;
    font-size: 130%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  }

  .review-form {
    display: flex;
    font-size: 20px;
    line-height: 1.2;
    color: #34495e;
    margin: 0 0 0.75em 0;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-right: 0px;
    margin-top: -10px;
    text-align: left;

    textarea {
      resize: vertical;
    }

    .review-form-title {
      height: 10px;
      width: 100%;
    }

    .review-submit {
      background-color: #287fb8;
      min-width: 160px;
      color: white;
      border-radius: 3px;
      padding: 8px 12px;
      text-align: center;
      font-size: 15px;
      line-height: 1.5;
      text-decoration: none;
      font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      border: 1px solid #287fb8;
      width: 50%;

      &:hover {
        background-color: #2371a3;
        border: 1px solid #2371a3;
      }
    }

    .review-cancel {
      display: inline-block;
      padding: 8px 12px;
      text-align: center;
      font-size: 15px;
      line-height: 1.5;
      text-decoration: none;
      font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      background-color: #FF0000;
      min-width: 160px;
      color: white;
      border-radius: 3px;
      border: 1px solid #FF0000;
      width: 50%;
      max-height: 40px;

      &:hover {
        background-color: #ad0000;
        border: 1px solid #ad0000;
      }
    }

    input {
      padding: 12px 8px;
      border-radius: 4px;
      background-color: white;
      border: 1px solid rgba(0,0,0,0.15);
    }

    textarea {
      padding: 12px 8px;
      border-radius: 4px;
      background-color: white;
      border: 1px solid rgba(0,0,0,0.15);
    }
  }


  .user-review-link {
    border-radius: 3px;
    padding: 8px 8px;
    margin-left: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #287fb8;
    background-color: #287fb8;
    min-width: 120px;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    &:hover {
      background-color: #2371a3;
      border: 1px solid #2371a3;
    }
  }

  .red {
    color: #D81C34;
  }

  .green {
    color: #00C168;
  }
}
