// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show {
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  background-color: #F1EFEA;
  width: 100%;
  box-sizing: border-box;
  min-height: 780px;
  height: 30vw;
  margin-bottom: 75px;
}

.user-show-container {
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 1300px;
  box-sizing: border-box;
  min-height: 780px;
  height: 100%;
  margin-bottom: 75px;
  min-width: 780px;
}

.user-show-img {
  position: relative;
  height: 225px;
  width: 225px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  box-sizing: border-box;

  img {
    background-position: center;
    position: center;
    height: 165%;
    width: 165%;
    object-fit: cover;
    border-radius: 50%;

    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }
}

.user-photo-username {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  height: 350px;
  width: 320px;
  background-color: white;
  margin-right: 10px;
  margin-top: 10px;
  // box-sizing: border-box;

  .user-name {
    text-align: center;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 200%;
    color: #25364D;
  }

  .user-username {
    text-align: center;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 120%;
    color: #25364D;
    font-style: italic;
    margin-top: 10px;
  }

  .user-location {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 110%;
    color: #25364D;
    font-style: italic;
  }
}

.user-right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-top: 10px;

  .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-height: 500px;
    width: 96%;
    max-width: 1100px;
    background-color: white;
    margin-bottom: 20px;
  }

  .user-hosting {
    width: 96%;
    margin-right: 20px;
    font-size: 200%;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .user-about-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    height: 100%;
    width: 96%;
    max-width: 1100px;
    word-wrap: break-word;
    overflow: auto;
    overflow-wrap: break-word;
    background-color: white;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 100%;

    .user-about {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 10px;
      height: 100%;
      width: 96%;
      background-color: white;
      font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 100%;

      h2 {
        width: 240px;
        font-size: 130%;
        font-weight: bold;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        padding-right: 10px;
        margin-right: 30px;
      }
    }


    .user-about-edit-button {
      border-radius: 3px;
      margin-right: -40px;
      padding: 8px 8px;
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      text-decoration: none;
      font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      border: 1px solid #EC5E1F;
      background-color: #EC5E1F;
      min-width: 120px;
      color: white;
      transition: background-color 0.3s ease, border-color 0.3s ease;
      box-sizing: border-box;

      &:hover {
        background-color: #cc4b1c;
        border: 1px solid #cc4b1c;
      }
    }

  }

  .red {
    color: #D81C34;
  }

  .green {
    color: #00C168;
  }
}


@media only screen and (max-width: 780px) {
  .user-show-container {
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  .user-right-side {
    width: 60%;
    margin-left: 50px;
  }

  .user-show {
    height: 100%;
  }

}

@media only screen and (max-width: 420px) {

  .review-author-photo {
    height: 50%;
    width: 50%;
    margin-left: -20px !important;
    margin-right: 3px !important;
  }

  .user-right-side {
    font-size: 60% !important;
  }

  .user-about-container h1 {
    font-size: 180% !important;
  }

  .user-about-container h2 {
    font-size: 180% !important;
  }

  .review-ul {
    margin: 0 !important;
  }

  .user-photo-username {
    width: 200px !important;
    height: 350px !important;
    font-size: 180% !important;
  }

  .user-show-img {
    width: 200px !important;
    height: 200px !important;
  }

  .user-show-container {
    flex-direction: column;
    align-items: center;
  }

  .user-right-side {
    width: 30%;
    margin-left: 50px;
  }

  .user-show {
    height: 100%;
  }

  .review-author-info-left {
    min-width: 10px !important;
  }
}
