
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.homepage {
  width: 100%;
}

.header-logo {
  color: #EF631C;
  font-size: 220%;
  font-family: 'Cookie', cursive;
}

header {
  background-color: white;
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 63px;
}


.header-photo {
  position: relative;
  height: 40px;
  width: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 700px;
  justify-content: center;

  img {
    background-position: center;
    position: center;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 700px;
    cursor: pointer;
  }
}

html {
  position: relative;
  min-height: 100%;
  max-height: 100%;
  overflow-x:hidden
}

.splash-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-image: image-url('HomeImage1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 620px;
  color: white;
  font-size: 330%;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  padding: 30px;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  font-weight: lighter;
  line-height: 1.1;
  // background-attachment: fixed;

  h1 {
    font-size: 66px;
    margin-top: 120px;
  }

  h2 {
    font-size: 36px;
    margin-top: 30px;
  }

}

.all-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 870px;
  color: white;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  padding: 30px;
  font-weight: lighter;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  background-color: #007CBB;

  .testimonials-header {
    font-size: 330%;
    padding: 20px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 30px;
    margin-right: 50px;
  }
}

.testimonials {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  margin-right: 40px;

  .testimonial-img-1 {
    background-image: image-url('testimonial1.jpg');
    background-size: cover;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 12px;
    background-position: center;
  }

  .testimonial-img-2 {
    background-image: image-url('testimonial2.jpg');
    background-size: cover;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 12px;
    background-position: center;
  }

  .testimonial-img-3 {
    background-image: image-url('testimonial3.jpg');
    background-size: cover;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 12px;
    background-position: center;
  }

  .testimonial {
    background-color: #0F97D8;
    width: 30%;
    margin: 17px;
    padding-top: 0px;
    height: 770px;
    box-sizing: border-box;
    min-width: 335px;
  }

  p {
    font-size: 110%;
    line-height: 1.5;
    text-align: center;
    width: 90%;
    margin-left: 16px;
  }

  h2 {
    font-weight: bold;
    font-size: 140%;
    padding: 20px;
    margin-top: -20px;
  }
}

.footer {
  width: 100%;
  height: 150px;
  background: #3167b1;
  position: fixed;
  bottom: 0px; left: 0;
  background-color: white;
  display: flex;
  z-index: 7;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 50px;
  max-height: 75px;

  a {
    height: 40px;
    width: 40px;
  }
}

.github {
  height: 34px;
  width: 34px;
  margin-left: 24px;
  margin-right: 24px;
  background-image: image-url('Github.png');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: box-shadow 0.3s ease;
  transition: 0.4s;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  &:hover {
    transform: scale(1.2);
  }
}

.linkedin {
  height: 34px;
  width: 34px;
  margin-left: 24px;
  margin-right: 24px;
  background-image: image-url('Linkedin.png');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: box-shadow 0.3s ease;
  transition: 0.4s;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  &:hover {
    transform: scale(1.2);
  }
}

.portfolio {
  height: 34px;
  width: 34px;
  margin-left: 24px;
  margin-right: 24px;
  background-image: image-url('Portfolio.png');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: box-shadow 0.3s ease;
  transition: 0.4s;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  &:hover {
    transform: scale(1.2);
  }
}

::placeholder {
  color: #8c8c8c;
  font-family: sans-serif;
  font-weight: lighter;
}

.map-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-top: 20px;

  span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

#map {
  margin-top: 10px;
  width: 90%;
  height: 90%;
  min-height: 400px;
  min-width: 300px;
  max-width: 400px;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 5%;
}

.dropdown {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.15);
  position: absolute;
  top: 56px;
  width: 180px;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  right: 10px;
  cursor: pointer;
  max-height: 300px;
  transition: max-height 300ms ease;
  transition: font-size 300ms ease;

  button {
    padding: 20px;
    display: block;
    font-size: 130%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    width: 100%;
    &:hover {
      color: #ed6504;
      background-color: #f2f2f2;
      cursor: pointer;
    }

    &:focus {
      overflow:hidden;
      max-height: 300px;
    }
  }
}

.dropdown-toggle i {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 5px;
}

.hidden {
  position: absolute;
  font-size: 0px;
  max-height: 0;
  transition: max-height 300ms ease;
}

.search-bar {
  margin: 0 auto;
  width: 230px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  transition: border 0.3s ease, width 0.3s ease, height 0.3s ease;
  &:focus {
    width: 260px;
    height: 40px;
    border: 1px solid cornflowerblue;
  }
}

.search-results {
  transition: 0.8s ease;
  position: absolute;
  z-index: 7;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 230px;
  -webkit-box-shadow: 3px 3px 22px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 22px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 22px -2px rgba(0,0,0,0.75);

  .search-result {
    border-bottom: 1px solid gray;
    padding: 14px;
    font-size: 110%;

    &:hover {
      background-color: #F5F5F5;
      cursor: pointer;
    }
  }
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media only screen and (max-width: 1090px) {
  .all-testimonials {
    display: none;
  }

  .stars-index {
    margin-bottom: 70px;
  }

}

@media only screen and (max-width: 655px) {

  .search-bar {
    display: none !important;
  }

  .splash-image {

    h1 {
      font-size: 90%;
      width: 70%;
    }

    h2 {
      margin-top: 40px;
      font-size: 60%;
      width: 70%;
    }
  }
}

@media only screen and (max-width: 420px) {

  button {
    padding: 5px !important;
    height: 40% !important;
    width: 40% !important;
    min-width: 60px !important;
    line-height: 0.8 !important;
  }

  a {
    padding: 5px !important;
    height: 40% !important;
    width: 40% !important;
    min-width: 60px !important;
    min-height: 40px !important;
    line-height: 0.8 !important;
  }

  header {
    height: 50% !important;
    min-height: 30px !important;
    max-height: 40px !important;
  }

  .footer {
    height: 50% !important;
    min-height: 30px !important;
    min-width: 30px !important;
    max-width: 400px !important;
    max-height: 40px !important;
  }

  h1 {
    font-size: 70% !important;
    margin-top: 20px !important;
  }

  h2 {
    font-size: 70% !important;
  }

  .header-logo a {
    top: 8px;
    position: absolute;
    font-size: 300%;
    margin-top: -10px !important;
    margin-bottom: -20px !important;
  }

  .stars-index {
    min-height: 890px !important;
    margin-bottom: 0px !important;
  }

  .stars-index h2 {
    font-size: 160% !important;
  }

  .header-title {
    padding: 15px !important;

    h2 {
      font-size: 90% !important;
    }
  }

  .demo-login button {
    min-width: 160px !important;
    border-radius: 3px !important;
    padding: 8px 12px !important;
    text-align: center !important;
    font-size: 15px !important;
    line-height: 1.5 !important;
    text-decoration: none !important;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    width: 100% !important;
  }

  .dropdown {
    top: 39px !important;
  }

  .header-button {
    margin: 0 !important;
    width: 100% !important;
    padding: 13px !important;
  }

  .stars {
    height: 50% !important;
    width: 100% !important;
  }

  .star {
    transform: scale(0.7);
    margin-top: -30px !important;
  }

  .signup-image {
    display: none;
  }

  .splash-image {
    height: 30% !important;
    width: 60% !important;
  }

  .login-alternate {
    display: none;
  }

  .header-title {
    height: 40%;

    h2 {
      height: 60%;
    }
  }

  .demo-login {
    p {
      display: none;
    }

    button {
      margin-top: 10px;
    }
  }

  .login-form-container {
    height: 50%;
    width: 70%;
    min-height: 385px !important;
    max-height: 385px !important;
  }

  .login-form-container > input {
    padding: 3px;
    margin: 3px;
  }

  .signup-about {
    display: none;
  }

}
