
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header-logo {
  color: #EF631C;
  font-size: 200%;
  font-family: 'Cookie', cursive;
}

header {
  background-color: white;
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 63px;
}

.header-photo {
  position: relative;
  height: 40px;
  width: 40px;
  background-size: cover;
  border-radius: 200px;
  cursor: pointer;
}

html {
    position: relative;
    min-height: 100%;
}

.splash-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-image: image-url('HomeImage1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 620px;
  color: white;
  font-size: 330%;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  padding: 30px;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  font-weight: lighter;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed;

  h1 {
    font-size: 66px;
    margin-top: 120px;
  }

  h2 {
    font-size: 36px;
  }

}

.all-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 870px;
  color: white;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  padding: 30px;
  font-weight: lighter;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  background-color: #007CBB;

  .testimonials-header {
    font-size: 330%;
    padding: 20px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 30px;
  }
}

.testimonials {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  height: 100%;

  .testimonial-img-1 {
    background-image: image-url('testimonial1.jpg');
    background-size: cover;
    height: 400px;
    width: 90%;
    margin: 10px;
  }

  .testimonial-img-2 {
    background-image: image-url('testimonial2.jpg');
    background-size: cover;
    height: 400px;
    width: 90%;
    margin: 10px;
  }

  .testimonial-img-3 {
    background-image: image-url('testimonial3.jpg');
    background-size: cover;
    height: 400px;
    width: 90%;
    margin: 10px;
  }

  .testimonial {
    background-color: #0F97D8;
    width: 30%;
    margin: 20px;
    padding-top: 20px;
    height: 770px;
    box-sizing: border-box;
  }

  p {
    font-size: 110%;
    line-height: 1.5;
    text-align: center;
  }

  h2 {
    font-weight: bold;
    font-size: 140%;
    padding: 20px;
    margin-top: -20px;
  }
}

.footer {
  width: 100%;
  height: 150px;
  background: #3167b1;
  position: fixed;
  bottom: 0px; left: 0;
  background-color: white;
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 50px;
  max-height: 75px;
}

.github {
  height: 34px;
  width: 34px;
  padding: 24px;
  background-image: image-url('Github.png');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-right: 125px;
}

.linkedin {
  height: 34px;
  width: 34px;
  padding: 24px;
  background-image: image-url('Linkedin.png');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-left: 125px;
}

::placeholder {
  color: #8c8c8c;
  font-family: sans-serif;
  font-weight: lighter;
}

.map-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-top: 20px;

  span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

#map {
  margin-top: 10px;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 5%;
}

.dropdown {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.15);
  position: absolute;
  top: 56px;
  width: 180px;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  right: 10px;
  cursor: pointer;

  button {
    padding: 20px;
    display: block;
    font-size: 130%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: #ed6504;
      background-color: #f2f2f2;
      cursor: pointer;
    }
  }
}

.dropdown-toggle i {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 5px;
}

.hidden {
  display: none;
}
